includes:
    - vendor/tomasvotruba/cognitive-complexity/config/extension.neon

parameters:
    level: 10
    paths:
        - bin/
        - config/
        - fixtures/
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
        - src/Kernel.php
        - public/index.php
    ignoreErrors:
        # Cognitive complexity non appliquée aux Entity / FormType / Repository / fixtures
        -
            identifier: complexity.classLike
            reportUnmatched: false
            paths:
                - src/Entity/*
                - src/Form/*
                - src/Repository/*
                - fixtures/*
        -
            identifier: complexity.functionLike
            reportUnmatched: false
            paths:
                - src/Entity/*
                - src/Form/*
                - src/Repository/*
                - fixtures/*
        -
            identifier: complexity.dependencyTree
            reportUnmatched: false
            paths:
                - src/Entity/*
                - src/Form/*
                - src/Repository/*
                - fixtures/*
